.customAudio {
  background-color: rgba(0, 50, 100, 0.1);
  border-radius: 36px;
  box-shadow: revert;
  padding: 0 15px;

  .rhap_button-clear {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}