$input-height: 54px;
$header-height: 36px;
$footer-height: 36px;
$chat-panel-max-height: 400px;
$chat-panel-min-height: 72px;
$input-container-max-height: 144px;
$input-container-min-height: 72px;
$input-vertical-margin: 8px;

.ChatBot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: $header-height;
    padding: 0 10px;
    border-radius: 10px 10px 0 0;
    background-color: #669;

    .buttonWrapper-button {
      $button-size: 18px;

      min-width: $button-size;
      max-width: $button-size;
      min-height: $button-size;
      max-height: $button-size;
    }

    &-actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      column-gap: 5px;
    }

    &-text {
      color: #fff;
      font-size: 16px;
      font-weight: 700;
    }
  }

  &-chatPanel {
    display: flex;
    flex-direction: column;
    height: calc(100% - $header-height - $input-height - $input-vertical-margin * 2);
    width: 100%;
    padding: 16px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: solid 1px #669;
    border-left: solid 1px #669;
    background-color: #fff;

    &-commandButtonWrapper {
      width: fit-content;
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }

  &-statusContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0 16px;
    height: 16px;
    background-color: #fff;
    border-right: solid 1px #669;
    border-left: solid 1px #669;

    &-statusText {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.6);
    }

    &-loadingIcon {
      width: 12px;
      height: 12px;
      margin-left: 5px;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: fit-content;
    margin-top: 10px;
  }

  &-inputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: $input-height;
    padding: 0 8px;
    overflow: auto;
    border-right: solid 1px #669;
    border-bottom: solid 1px #669;
    border-left: solid 1px #669;
    border-radius: 0 0 10px 10px;
    background-color: #fff;

    &-voicePlaceHolder {
      height: 36px;
      width: calc(100% - 10px);
      padding: 0 5px;
    }

    &-buttonContainer {
      margin-left: 5px;
    }

    .md-text-field-container {
      padding-left: 5px;
      border: solid 1px #669;
      border-radius: 4px;
    }

    .md-text {
      font-size: 16px;
    }

    .md-divider--text-field {
      display: none;
    }
  }

  strong {
    font-weight: revert !important;
    padding: revert !important;
  }

  .markdown-html th {
    font-weight: 700 !important;
  }
}

// Not sure why we need these styles. Commenting...
//.panel-container:has(.ChatBot) {
//  background-color: #eaeaea;
//  border: solid 1px #000000;
//  border-radius: 5px;
//}