.infoPanel {
  position: fixed;
  left: 56px;
  top: 0;
  background-color:#ffffff;
  z-index:1000;
  width: calc(100vw - 56px);
  height: 100vh;
  padding: 16px;

  &-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    height: 56px;
    border-bottom: solid 1px #eaeaea;
    column-gap: 5px;

    &-rightContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }
    &-leftContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex-grow: 1;
    }

    &-toggleButton {
      width: 120px;
    }

    &-totalPrice {
      display: flex;
      align-items: center;
      justify-content: center;
      &-price {
        font-family: monospace;
      }
      &.high &-price {
        color : #ff0000;
      }
      &.normal &-price {
        color : #FFC61B;
      }
      &.low &-price {
        color : #50bb50;
      }
    }

    &-totalTokens {
      padding: 2px 6px;
      border-radius: 24px;
      border: solid 2px #1979ff;
      min-width: 150px;
      &-tokens {
        font-family: monospace;
      }
    }
  }

  &-body {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 56px - 1px);

    &-traceDetails {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      flex-grow: 1;
      overflow: auto;
    }
  }
}