.messageViewer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  padding: 2px 5px;
  position: relative;
  margin-bottom: 24px;

  &-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    min-width: 36px;
    height: 36px;

    &-image {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &-avatar.user {
    margin-left: 12px;
  }

  &-avatar.assistant {
    margin-right: 12px;
  }

  &-message {
    width: fit-content;
    min-width: 64px;
    height: fit-content;
    padding: 5px 12px;
    border-radius: 18px;
    overflow-x: auto;

    &-messageText {
      font-size: 16px;
      white-space: pre-line;
    }

    &-messageText.user {
      color: #fff;
    }

    &-messageText.assistant {
      color: #000;
    }

  &-actionsContainer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: absolute;
      bottom: -26px;
      column-gap: 5px;
      .buttonWrapper-button.icon {
        min-width: 16px;
        max-width: 16px;
        width: 16px;
        padding: 0;
      }

      &-playButton {
      }
      &.user {
        right: calc(5px + 36px + 12px + 12px);
      }
      &.assistant {
        left: calc(5px + 36px + 12px + 12px);
      }
    }
  }

  &-message.assistant {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &-message.user {
    background-color: #1e90ff;
  }

  &-message.user.audio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: unset;
    padding-right: 16px !important;
    width: 100%;

    .buttonWrapper {
      margin-left: 5px;
    }
  }

  .autoHideButtonContainer {
    display: none;
  }

  &:hover {
    .autoHideButtonContainer {
      display: block;
    }
  }
}

.messageViewer.user {
  flex-direction: row-reverse;
}

.audioMessageViewer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 64px;
  padding: 5px 12px;
  border-radius: 32px;
  overflow-x: auto;
  background-color: rgba(50, 100, 200, 0.25);
  &-waveContainer {

  }
  &-actionsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 16px;
    column-gap: 5px;
    .buttonWrapper-button.icon {
      min-width: 16px;
      max-width: 16px;
      width: 16px;
      height: 16px;
      padding: 0;
    }
  }
}