.trace {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin-bottom: 2px;

  &-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 5px;
    width: 100%;
    height: fit-content;

    &-name {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 200px;
      background-color: rgba(250, 25, 25, 0.2);
      padding: 1px 5px;
      border-radius: 8px;
      cursor: pointer;
    }
    &-name.selected {
      border: dashed 2px #000000;
      background-color: rgba(255, 0, 0, 0.5);
    }
    &-duration {
      display: flex;
      align-items: center;
      flex-direction: row;
      column-gap: 2px;

      &.high &-text {
        color : #ff0000;
      }
      &.normal &-text {
        color : #FFC61B;
      }
      &.low &-text {
        color : #50bb50;
      }
    }

    &-tokens {
      padding: 2px 6px;
      border-radius: 24px;
      border: solid 2px #1979ff;
      min-width: 150px;
    }

    &-type {
      display: flex;
      align-items: center;
      flex-direction: row;
      column-gap: 2px;
      cursor: pointer;
      min-width: 100px;

      &-text {
        font-weight: 700;
        color: #1979ff;
      }
    }

    &-cost {
      display: flex;
      align-items: center;
      flex-direction: row;
      column-gap: 2px;
      &.high &-text {
        color : #ff0000;
      }
      &.normal &-text {
        color : #FFC61B;
      }
      &.low &-text {
        color : #50bb50;
      }
    }
  }
  &-body {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    padding: 4px 0;
    margin-left: 64px;
    border-left: solid 2px #000000;

    &-subTracesContainer{
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      height: fit-content;
      &-subTrace {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        width: 100%;
        height: fit-content;
        &-bodyHeaderConnector {
          margin-top: 14px;
          height: 2px;
          width: 48px;
          background-color: #6d7893;
        }
      }
    }

  }
  &-body.collapsed {
    display: none;
  }
}